<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>KAPLAN MAHMUT</title>
<link rel="shortcut icon" href="klas/mahmut - Kopya.ico"/>
</style>
</head>

<body background="klas/lale.jpg">

 <font color="#99FFFF" size="7"><center><marquee behavior=alternate>KAPLAN MAHMUT &nbsp &nbsp<em>İletişim:Herkese vermez:)) ya verirse ?</marquee></center></font><hr><hr>
  <a href="https://www.youtube.com/watch?v=EdCVijVT7Wk"></br>



<center><input type="submit" value="Mahmut" onmouseover="this.value='Korkma resmime tıkla'" onmouseout="this.value='Buraya Tıklayın"></center>

<center><image src="klas/mahmut.jpg" title="TIKLA LAAA" width="200" height="300" border="4"></a></center>
<marquee align="middle" scrollamount="1" height="30" width="80%" direction="down"scrolldelay="3">



</body>



</html>
